#__console{
    position: relative;
    z-index: 2147483647;
}

#__console .debug {
    color: #465ed1;
}

#__console .error {
    color: #465ed1;
    background: #ffe6e3;
}

#__console .info {
    color: #465ed1;
    background: #ffffff;
}

#__console .log {
    color: #000000;
    background: #ffffff;
}

#__console .warn {
    color: #465ed1;
    background: #fff7db;
}

.-c-switch{
    display: block;
    position: fixed;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba( 0, 0, 0, .4);
    padding: 8px 16px;
    line-height: 1;
    font-size: 14px;
    color: #fff;
    background-color: #04be02;
}

.-c-content{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 40px;
    border-top: 1px solid #eee;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50%;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
}

.-c-log{
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 6px 8px;
    overflow: hidden;
    line-height: 1.3;
    -webkit-user-select: text;
    word-break: break-word;
}

.-c-toolbar{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 40px;
    background-color: #fff;
}

.-c-tool{
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.-c-clear::before{
    content: "";
    position: absolute;
    top: 7px;
    bottom: 7px;
    right: 0;
    border-left: 1px solid #d9d9d9;
}